    <div class="jumbotron" id = "leave-jumbotron">
      <div class="container">
      <div class="masthead">
        <nav>
          <ul class="nav nav-justified">
            <li id="approvetimesheet"><a href="/managerpage/approve-timesheet">Current Timesheets</a></li>
            <li id="approveprior"><a href="/managerpage/approve-prior">Prior Time</a></li>
            <li id="managetasks"><a href="/managerpage/taskadmin">Manage Tasks</a></li>
            <li id="teaminfo"><a href="/managerpage/useradmin">Team Information</a></li>
          </ul>
        </nav>
      </div>
      <hr>
      </div>
    </div>