{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>OTes manage leave</title>

    {% include 'head.html' %}


  </head>

  <body>


   {% include 'navbar.html' %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" id = "leave-jumbotron">
      <div class="container">
        <h2>Manage leave</h2>
        <hr>
        <div class="row" id="calendar-row">
           <div class="col-sm-6" id="calendar-div">
              <table id ="calen-head">
                <tr>
                  <td width="20%" align="left">
                     &lt;&lt; <a href="/manageleave/{{PreviousYear}}-{{PreviousMonth}}/">{{PreviousMonthName}} {{PreviousYear}}</a>
                  </td>
                  <td width="20%" align="center"><a href="/manageleave">Today</a></td>
                  <td width="20%" align="right">
                    <a href="/manageleave/{{NextYear}}-{{NextMonth}}/">{{NextMonthName}} {{NextYear}}</a> &gt;&gt;
                  </td>
                </tr>
              </table>
              <div id="calendar">
                {{calendar}}
              </div>
            </div>
           <div class="col-sm-6" id="calendar-text-div">

           <div class="col-xs-12 leave-table-div">
            <table class="table table-striped" id='leave-table'>
              <thead>
                <tr>
                  <th></th>
                  <th id="leave-date">Date</th>
                  <th id="leave-entry">Entry</th>
                  <th id="leave-for">For</th>
				          <th id="leave-comment">Comments</th>
                </tr>
              </thead>
              <tbody id="leave-table-body">
              </tbody>
            </table>
           </div>
           <div class="col-xs-12 leave-form">
             <h3 class="col-xs-12">Add Leaves</h3>
             <div class="col-xs-3">Leave Type: </div>
             <div class="col-xs-9">{{ form.leaveid }}</div>
             <div class="col-xs-3">Date: </div>
             <div class="col-xs-9">{{ form.date }}</div>
             <div class="col-xs-3">For: </div>
             <div class="col-xs-9">{{ form.users }}</div>
             <div class="col-xs-3">Comment: </div>
             <div class="col-xs-9">{{ form.comment }}</div>
             <div class="col-xs-12">
             <button class="btn btn-md btn-success btn-block add-leave-btn" type="submit">Add</button>
             </div>
            </div>

            </div>
          </div>
      </div>
    </div>



    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
    <script src="{% static 'js/leave.js' %}"></script>
  </body>
</html>
