{% load static %}
<!DOCTYPE html>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/timesheet">
            <span><img class="img-responsive2"       
                src="{% static 'img/logo.gif' %}" height="30" width="30">
              </span>
              <span>OTes</span>
          </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse navbar-right">
          <ul class="nav navbar-nav">
            <li class="nav-element" id="nav-timesheet">
              <a href="/timesheet">
                <p class="glyph-custom-nav-p mobile-no-display">
                  <span class="glyphicon glyphicon-time glyph-custom-nav" aria-hidden="true"></span>
                </p>
                <div>Timesheet</div>
              </a>
            </li>
            <li class="nav-element" id="nav-priortime">
              <a href="/priortime">
                <p class="glyph-custom-nav-p mobile-no-display">
                  <span class="glyphicon glyphicon-backward glyph-custom-nav" aria-hidden="true"></span>
                </p>
                <div>Prior Time</div>
              </a>
            </li>
            <li class="nav-element" id="nav-leave">
              <a href="/leave">
                <p class="glyph-custom-nav-p mobile-no-display">
                  <span class="glyphicon glyphicon-list-alt glyph-custom-nav" aria-hidden="true"></span>
                </p>
                <div>Leave Tracker</div>
              </a>
            </li>
            {% if is_manager %}
            <li class ="nav-element class-nav-reports" id="id-nav-reports">
              <a href="/reports">
                <p class="glyph-custom-nav-p mobile-no-display">
                  <span class="glyphicon glyphicon-picture glyph-custom-nav" aria-hidden="true"></span>
                </p>
                <div>Reports & Graphs</div>
              </a>
            </li>
            <li class ="nav-element class-nav-reports" id="id-nav-reports"><a href="/admin">Go To Admin Site</a></li>
            {% endif %}
            <li class="dropdown nav-element" id="nav-user">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <p>
                  <span>
                    <img  src="{{ current_user.userprofile.profile_photo.url }}" height="38" width="38" class="img-circle avatar">
                  </span>
                  <span class="caret"></span>
                </p>
              </a>
              <ul class="dropdown-menu">
                <li class="profile-dropdown">
                  <a class="avatar-a">
                    <img height="48" width="48" class="img-circle avatar" src="{{ current_user.userprofile.profile_photo.url }}">
                    <span><p class="avatar-name">{{ current_user }}</p>
                    <p class="avatar-name">{{ current_user.email }}</p></span>
                  </a>
                </li>
                <li class="profile-dropdown panel-footer">
                  <div>
                    <a href="/profile" id="profile" role="button">My Profile</a>
                    <a href="/logout" class="pull-right" role="button">Logout</a>
                  </div>
                </li>
              </ul> 
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>