{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>OTes approve Timesheet</title>

    {% include 'head.html' %}
    

  </head>

  <body>


   {% include 'navbar.html' %}

  <div id="wrapper" class="menuDisplayed">
    <div id="reports-mainpage-header">
      <h3>
        <div class="row">
          <div class="col-xs-6">
            Previous Timesheets
          </div>
          <div class="col-sm-2 col-sm-offset-4 col-xs-6">
            <p class="header-team-name" id="{{slug}}">{{ team }}</p>
          </div>
        </div>
      </h3>
      <span id="menu-toggle" class="glyphicon glyphicon-menu-right menu-toggle-shift" aria-hidden="true"></span>
    </div>
    {% include 'sidebarnav.html' %}

    <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="get-previous-forms">
       <div class="row">
          <div class = "member-list col-sm-3 col-xs-12">
              <select class="form-control" id="user-id">
                  <option value="0">Team members list</option>
                  {% for u in userlist %}
                    <option value={{ u }}>{{ u }}</option>
                  {% endfor %}
		          </select>
		      </div>
          <div class="col-sm-3 col-xs-12 col-sm-offset-6 hide-element" id="id-week-list">
            <div><div class='week-list'></div></div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-sm-4 hide-element" id="id-message">
            <p>
            will show sheets for last 3 months from the date selected
            </p>
          </div>
        </div>
      </div>

        <div class="manager-prior-table">
        </div>
        <hr>

    </div> <!-- /container -->
    </div>
  </div>



    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
    <script src="{% static 'js/pretimesheets.js' %}"></script>
  </body>
</html>
