{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <link href="{% static 'css/signin.css' %} " rel="stylesheet">

    <title>OTes reset password</title>
    {% include 'head.html' %}


  </head>
    <body>
{% block content %}
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="">OTes</a>
          </div>
        </div>
      </nav>
  <div class="reset-complete">
  <p>
    Your password has been set. You may go ahead and <a href="{% url 'login' %}">sign in</a> now.
  </p>
  </div>
{% endblock %}
</body>
<script>
</script>
</html>