{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <link href="{% static 'css/signin.css' %} " rel="stylesheet">

    <title>OTes reset password</title>
    {% include 'head.html' %}


  </head>
    <body>
{% block content %}
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="">OTes</a>
          </div>
        </div>
      </nav>
  {% if validlink %}
    <div class="container reset-password">
    <h3>Change password</h3>
    <hr>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="pull-right btn btn-sm btn-success btn-block submit-btn">Submit</button>
    </form>
  {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
   </div>
  {% endif %}
{% endblock %}
</body>
<script>
   var d = document.getElementById("id_new_password1");d.className = "form-control";
   var d = document.getElementById("id_new_password2");d.className = "form-control";
</script>
</html>