{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <link href="{% static 'css/signin.css' %} " rel="stylesheet">

    <title>OTes reset password</title>
    {% include 'head.html' %}


  </head>
    <body>
{% block content %}
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="">OTes</a>
          </div>
        </div>
      </nav>
  <div class="container reset-password-email">
    <h3 class="form-signin-heading">Reset Your Password</h3>
    <hr>
    <p>
    Please provide the email address you used when you signed up for your OTes account.<br><br>
    We will send you an email with a link to reset your password.
    </p>
  <form class="form-signin input-forget-pswd" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="pull-right btn btn-sm btn-success btn-block submit-btn">Send</button>
  </form>
  </div>
{% endblock %}
</body>
<script>var d = document.getElementById("id_email");d.className = "form-control"</script>
</html>